* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #FFFF00;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    position: relative;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.scoreboard {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: #FFF 12px solid;
    border-radius: 4px;
}

.user-label,
.comp-label {
    height: 50px;
    width: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    background: #505050;
    border-radius: 4px;
}

.user-label {
    left: -55px;
    top: 50%;
    transform: translateY(-50%);
}

.score {
    display: flex;
    font-size: 50px;
    font-weight: bold;
}

.comp-label {
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
}

.result {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 32px;
    font-weight: bold;
}

.selection .container {
    height: calc(65vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    cursor: pointer;
}

.img {
    height: 250px;
    width: 250px;
    border: solid;
}

.caption {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}